[submodule "Courage.AnimTool/GeonBit.UI"]
	path = Courage.AnimTool/GeonBit.UI
	url = https://github.com/RonenNess/GeonBit.UI.git
[submodule "External/MonoGame"]
	path = MonoGame
	url = https://github.com/MonoGame/MonoGame
